---
import Layout from '../layouts/Layout.astro'
import Header from '@/components/Header.astro'
import AboutMe from '@/components/AboutMe.astro'
---

<Layout title="eleloi.dev">
  <main class="">
    <Header />
    <AboutMe />

    <!-- <section class="h-screen w-full"></section> -->
    <!-- <section class="h-screen w-full bg-accent"></section> -->
    <!-- <section class="h-screen w-full bg-secondary"></section> -->
  </main>
</Layout>
